


#search-div {
  background-color: #191919;
  border-radius: 15px;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
}
/* #grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    background-color: #fff;
    gap: 10px;
    margin-top: 20px;
} */
#grid-container {
  overflow-x: scroll;
  padding-bottom: 100px;
}
#grid-container::-webkit-scrollbar {
  width: 5px;
}
#grid-container::-webkit-scrollbar-track {
  background-color: #191919;
}
#grid-container::-webkit-scrollbar-thumb {
  background-color: #c9ac8c;
}
#card {
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
}
#card .section-one-card-bgImage{
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: -1;
}
