#search-div{
    background-color: #191919;
    border-radius: 15px;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
}
/* #grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    background-color: #fff;
    gap: 10px;
    margin-top: 20px;
} */
